.main {
  width: 80vw;
  margin: auto;
}

.main h2 {
  text-align: center;
  margin: 40px;
}

.list1 li {
  line-height: 2.2rem;
}

.list2 li {
  list-style-type: lower-alpha;
  margin-left: 8px;
}

.list3 li {
  list-style-type: lower-roman;
  margin-left: 16px;
}

.obs {
  font-size: 0.8rem;
}
